@use '@styles/mixin' as *;
@use '@styles/variable' as *;

.btn {
    @include btn(176px, 42px, 3px, $primary_color);
    color: $white_color;
    font-size: 14px;
    font-weight: 400;
    padding: 13px 45px;
    cursor: pointer;
    &:hover {
        background-color: $white_color;
        color: $primary_color;
        border: 1px solid $primary_color;
        transition: background-color 300ms;
    }
}
