@use '@styles/mixin' as *;
@use '@styles/variable' as *;

.btn {
    @include btn(176px, 42px, 3px, $primary_color);
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    &:hover {
        transition: background-color 300ms;
    }
}

.primaryBtn {
    background-color: $primary_color;
    color: $white_color;
    &:hover {
        background-color: transparent;
        color: $primary_color;
        border: 1px solid $primary_color;
    }
}
.secondaryBtn {
    background-color: $primary_color;
    color: $white_color;
    border: 1px solid $primary_color;
    &:hover {
        background-color: $primary_color;
        color: $white_color;
    }
}
