@use '@styles/mixin' as *;
@use '@styles/variable' as *;

.container {
    background-image: url('https://images.pexels.com/photos/5474310/pexels-photo-5474310.jpeg');
    height: 409px;
    width: calc(100% / 2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.containerTimer {
    @include flex_box_custom(center, center, 10px);
}

.title {
    color: $four_color;
    font-size: 28px;
    margin-bottom: 5px;
    text-align: center;
}
.boxBtn {
    margin-top: 20px;
    text-align: center;
}
