@use '@styles/mixin' as *;
@use '@styles/variable' as *;

.container {
    // height: 144px;
    background-color: $primary_color;
    margin-top: -75px;
    padding: 20px 50px;
    @include flex_box_custom(space-between, center, 0px);
}

.containerCard {
    @include flex_box_custom(center, center, 18px);
    width: 280px;
    height: 104px;
}
.containerContent {
    @include flex_box_custom(center, flex-start, 18px);
    flex-direction: column;
    color: $white_color;
    font-weight: 300;
    .title {
        font-size: 17px;
    }
    .des {
        font-size: 16px;
    }
}
