@use '@styles/mixin' as *;
@use '@styles/variable' as *;

.box {
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 150px;
}

.title {
    font-size: 18px;
    color: $secondary_color;
}
