@use '@styles/mixin' as *;
@use '@styles/variable' as *;

.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 83px;
}

.containerBoxIcon {
    @include flex_box_custom(center, center, 10px);
}
.containerBox {
    @include flex_box_custom(center, center, 20px);
}
.containerMenu {
    @include flex_box_custom(center, center, 20px);
}

.boxIcon {
    @include radius_common(50%);
    @include flex_box_custom(center, center, 0px);
    background-color: $primary_color;
    width: 26px;
    height: 26px;
}

.menu::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $primary_color;
    margin: 6px;
    transform-origin: right;
    transform: scale(0);
    opacity: 0;
    transition: transform 300ms, opacity 300ms;
}

.menu:hover:after {
    transform: scale(1);
    opacity: 1;
}
