@import '@styles/mixin.module.scss';
@import '@styles/variables.module.scss';

.containerHeader {
    display: flex;
    align-items: center;
}

.containerBoxIcon {
    @include flex_box_custom(center, center, 10px);
}

.boxIcon {
    @include radius_common(50%);
    @include flex_box_custom(center, center, 0px);
    background-color: $primary_color;
    width: 26px;
    height: 26px;
}
