@use '@styles/mixin' as *;
@use '@styles/variable' as *;

.container {
    @include flex_box_custom(space-between, center, 10px);
}

.containerItem {
    @include flex_box_custom(center, center, 10px);
}
