@use '@styles/mixin' as *;
@use '@styles/variable' as *;

.boxImg {
    width: 300px;
    height: 100%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:hover .showImgWhenHover {
        opacity: 1;
    }

    .showImgWhenHover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: opacity 300ms;
    }

    .showFncWhenHover {
        position: absolute;
        opacity: 0;
        bottom: 20px;
        right: 10px;
        background-color: white;
        transition: opacity 500ms, right 500ms;
    }

    &:hover .showFncWhenHover {
        opacity: 1;
        right: 30px;
    }

    .boxIcon {
        width: 40px;
        height: 40px;
        @include flex_box_custom(center, center, 0px);
        transition: background-color 500ms;

        img {
            width: 17px;
            height: 17px;
        }

        &:hover {
            background-color: #ccc;
        }
    }
}
.title {
    font-size: 16px;
    color: $four_color;
    margin: 6px 0;
}

.priceCl {
    font-size: 14px;
    color: $thr_color;
    font-weight: 300;
}
