@use '@styles/mixin' as *;
@use '@styles/variable' as *;

.container {
    @include flex_box_custom(center, center, 0px);
    background-image: url(../../assets/images/banner.jpg);
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content {
    @include flex_box_custom(center, center, 10px);
    flex-direction: column;
}
.title {
    font-size: 42px;
    color: $four_color;
    font-weight: 400;
    margin: 15px 0;
}

.des {
    color: $four_color;
    font-weight: 400;
}
